.block {
  display: flex;
  margin-right: 40px;
  position: relative;
}

.block__title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 5px;
  color: #FFFFFF;
}

.block__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-size: 12px;
  color: #FFFFFF;
}

.block__img {
  width: 274px;
  min-height: 196px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.block__img-1 {
  background-image: url(../img/image.png);
}

.block__img-2 {
  background-image: url(../img/image-2.png);
}

.block__img-3 {
  background-image: url(../img/image-3.png);
}

.block__img-4 {
  background-image: url(../img/image-4.png);
}

.block__desc {
  position: absolute;
  width: 95%;
  text-align: left;
  margin-left: 12px;
  bottom: 10px;
}


@media (max-width: 320px) {
  .block {
    max-width: 320px;
    align-items: flex-start;
    margin-bottom: 12px;
  }

  .block__img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
  }
  .block__img-1 {
    background-image: url(../img/mobile-image.png);
  }

  .block__img-2 {
    background-image: url(../img/mobile-image-2.png);
  }

  .block__img-3 {
    background-image: url(../img/mobile-image-3.png);
  }

  .block__img-4 {
    background-image: url(../img/mobile-image-4.png);
  }

  .block__desc {
    max-width: 176px;
    margin-left: 12px
  }

  .block__title {
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333333;
  }

  .block__subtitle {
    line-height: 18px;
    font-size: 12px;
    color: #333333;
  }
}

@media (max-width: 768px) {
  .block {
    margin: 0 0 24px 24px;
    align-items: flex-start;
    margin-bottom: 12px;
    position: relative;
  }

  .block__img {
    width: 290px;
    min-height: 208px;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
  }


  .block__desc {
    position: absolute;
    width: 95%;
    text-align: left;
    margin-left: 12px;
    bottom: 10px;
  }

  .block__title {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 5px;
    color: #FFFFFF;
  }

  .block__subtitle {
    line-height: 18px;
    font-size: 12px;
    color: #FFFFFF;
  }
}
