.burger-menu {
  position: relative;
  width: 50px;
  height: 26px;
}

.burger-menu:hover .burger-menu__inner {
  width: 40px;

  &::after {
    width: 40px;
  }

}

.burger-menu__inner {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1px;
  height: 1px;
  width: 35px;
  background-color: #fff;
  transition-duration: 0.5s;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: -11px;
    display: block;
    height: 1px;
    width: 40px;
    background-color: inherit;
    transition-duration: 0.5s;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 11px;
    right: 0px;
    display: block;
    height: 1px;
    width: 30px;
    background-color: inherit;
    transition-duration: 0.5s;
  }
}
