.calculation {
  box-sizing: border-box;
  min-width: 931px;
  padding: 51px 39px 60px 52px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.42);
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.calculation__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
  margin: 0 0 26px 0;
}

.calculation__desc {
  max-width: 698px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 32px;
}

.calculation__sum-level {
  margin-bottom: 20px;
}

.calculation__total {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #000000;
  margin-bottom: 30px;
}

.calculation__value {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 4px 0;
  min-width: 170px;
  border-radius: 15px;
  border:2px solid #003a3c;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: #28626a;
  margin: 0;
  margin-left: 20px;
}

.calculation__best-tariff {
  border-top: 1px solid rgba(#003a3c, 0.2);
  padding-top: 24px;
}
