.sum-level {
  position: relative;
  width: 641px;
  height: 21px;
  border-radius: 10.5px;
  background-color: rgba(#d7d7d7, 0.8);
}

.sum-level__line {
  position: absolute;
  left: 2px;
  padding-right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 17px;
  border-radius: 10.5px;
  width: 40%;
  background-image: linear-gradient(234deg, #026970, #cecece);
}

.sum-level__pin {
  position: absolute;
  right: 0;
  width: 20px;
  height: 100%;
  border-radius: 10.5px;
  background-color: transparent;
  cursor: pointer;
}
