.table {
  position: relative;
  background-color: #f9f9f9;
  margin-bottom: 20px;

  &::before {
    content: '';
    position: absolute;
    width: 931px;
    height: 100%;
    right: 0;
    z-index: 1;
    background-color: transparent;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.42);
    border-radius: 5px;
  }
}

.table__row {
  border-top: 1px solid #b7b7b7;
  position: relative;
  display: flex;
  background-color: #f9f9f9;
  margin: 0;
  align-items: stretch;
}

.table__row_first {
      border-top: none;
}

.table__row_first .table__cell {
  border: none;
  padding: 20px 9px 20px 9px;

  &:first-child {
    padding: 0;
    background-color: #fff;
  }

  &:nth-child(2) {
    padding-left: 16px;
    border-radius: 5px 0 0 0;
  }

  &:last-child {
    padding-right: 18px;
    border-radius: 0 5px 0 0;
  }
}


.table__cell {
  position: relative;
  width: 310px;
  box-sizing: border-box;
  min-height: 50px;
  padding: 20px 9px 20px 9px;
  border-right: 1px solid #b7b7b7;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 1.8px;
  text-align: center;
  color: #28616a;


  &:first-child {
    width: 148px;
    box-sizing: border-box;
    border-right: none;
    margin: 0;
    padding: 0;
    background-color: #fcf5f7;
    padding: 20px 35px 20px 15px;
    text-align: left;
  }

  &:last-child {
    border-right: none;
  }
}

.table__value {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.table__title {
  display: block;
  margin: 0;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}

.table__popup_open {
  display: block;
}

.table__popup_close {
  display: none;
}

.table__button {
  padding-left: 57px;
  padding-right: 57px;
  margin: 20px auto 29px auto;
  z-index: 22;
}

.table__value_good {
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.tt {
  height: 600px;
}

.table__row_last {
  border-radius: 0;
  border-top: none;
}

.table__row_last .table__cell {
  border: none;
  &:first-child {
    background-color: #fff;
  }

  &:nth-child(2) {
    border-radius: 0 0 0 5px;
  }

  &:nth-child(3) {
    z-index: 3;
  }

  &:last-child {
    border-radius: 0 0 5px 0;
  }
}
